{
  "openapi": "3.1.0",
  "info": {
    "title": "Anneal",
    "version": "2.0.0",
    "description": "Music, speech and image generation running locally on a Mac mini M4, reachable over the tailnet.\n\nNamed for what it does to its models: heat one up on demand, let it cool and release the memory when idle.\n\n## Memory model — read this first\n\nThe host has 16 GB of unified memory. The music model holds ~21 GB once loaded and the image model ~11 GB, so **models are loaded on demand and unloaded after an idle period**, and the two heavy models are never resident at the same time — requesting one evicts the other. Music exceeds physical RAM on its own and therefore always swaps, which is why generation takes minutes rather than seconds.\n\nWhat that means for you:\n\n- A request against a cold model takes **3–4 minutes longer** while weights load. Set client timeouts to **900s or more**; a 30s default will fail every cold request.\n- Do not auto-retry a slow first request. A retry queues more work behind the one already running.\n- Call `POST /supervisor/start` ahead of time to pre-warm, or `GET /supervisor/status` to see what is currently loaded.\n- `GET /health`, `GET /supervisor/status` and `GET /v1/audio` never wake a model, so they are free to poll.\n\n## Auth\n\nEvery endpoint except `/health`, `/supervisor/status`, `/openapi.json` and `/docs` requires `Authorization: Bearer <key>`.\n\n## Concurrency\n\nOne job at a time per service. Music has a queue (max 200) that is held in memory and lost on restart — own your job state and be ready to resubmit."
  },
  "servers": [
    {
      "url": "https://jons-mac-mini.pangolin-darter.ts.net",
      "description": "Tailnet (TLS)"
    },
    {
      "url": "http://127.0.0.1:8001",
      "description": "On the host itself"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "music",
      "description": "ACE-Step 1.5 — text to music with vocals. Asynchronous: submit, poll, download."
    },
    {
      "name": "speech",
      "description": "Kokoro-82M — text to speech. Synchronous, a couple of seconds."
    },
    {
      "name": "image",
      "description": "FLUX.1-schnell 4-bit — text to image. Synchronous, roughly two minutes per 1024px image."
    },
    {
      "name": "supervisor",
      "description": "Model lifecycle: what is loaded, pre-warm, unload."
    },
    {
      "name": "library",
      "description": "Everything generated, kept on disk and browsable. Never wakes a model."
    },
    {
      "name": "text",
      "description": "Gemma 4 e4b (4-bit) via mlx-lm — OpenAI-compatible chat completions, with streaming."
    },
    {
      "name": "press",
      "description": "One brief to a finished single or album: plan, lyrics, music and cover."
    },
    {
      "name": "vector",
      "description": "SVG drawn by the text model. Experimental — fast and safe, but the drawings are frequently not recognisable as their subject on the model that fits this hardware. See the endpoint description."
    },
    {
      "name": "sprites",
      "description": "Sprite sheets for game work: one FLUX generation containing every frame, cut into separate matted PNGs with transparency."
    }
  ],
  "paths": {
    "/release_task": {
      "post": {
        "tags": [
          "music"
        ],
        "summary": "Submit a music generation job",
        "description": "Returns immediately with a task_id. Poll /query_result until status is 1 or 2.\n\nOnly `prompt` is required; anything omitted is filled in by a small planning LM.\n\n**Anneal applies two defaults that differ from the upstream backend**, because both materially affect output quality and every integrator would otherwise rediscover them:\n\n- `thinking` defaults to **true** (upstream: false). Runs the planning pass that decides sections, key and arrangement before any audio exists. Costs ~30s; without it structure is noticeably weaker.\n- `audio_format` defaults to **flac** (lossless). The backend's MP3 encoder is fixed at 128 kbps with no bitrate control, which is audibly lossy.\n\nSend either field explicitly to override.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MusicRequest"
              },
              "examples": {
                "instrumental": {
                  "summary": "30s instrumental",
                  "value": {
                    "prompt": "warm lo-fi hip hop with rhodes piano and vinyl crackle",
                    "lyrics": "[instrumental]",
                    "audio_duration": 30
                  }
                },
                "song": {
                  "summary": "Song with vocals",
                  "value": {
                    "prompt": "warm indie pop ballad, female vocals, brushed drums",
                    "lyrics": "[verse]\nStreetlights blur into the rain\n\n[chorus]\nHold on, hold on",
                    "audio_duration": 45,
                    "audio_format": "mp3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "task_id": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "data": {
                    "task_id": "42f580bc-f8a5-44c2-9685-a124f54d6f49"
                  },
                  "code": 200,
                  "error": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/BackendUnavailable"
          }
        }
      }
    },
    "/query_result": {
      "post": {
        "tags": [
          "music"
        ],
        "summary": "Poll one or more music jobs",
        "description": "Poll every 3–5 seconds. There is no webhook.\n\n**`result` is a JSON-encoded string, not an object** — parse it a second time. It decodes to a list with one entry per take.\n\n**Jobs survive a restart.** The gateway records every job and replays anything outstanding when the backend restarts. Keep polling the id you were given — the replayed job gets a new id internally and the gateway translates both ways, so you will see `status: 0` across a restart and the result when it lands.\n\n**Orphaned jobs** are the residual case: something too old to replay, or that has failed repeatedly, returns `status: 2` with `\"orphaned\": true`. That is final — resubmit.\n\n**Transient errors.** A `502` during polling means the backend was restarting, not that the job failed. Retry the poll; never resubmit on a 502, or you will queue duplicate work.\n\n**Progress.** While a job runs, the decoded `result` carries `progress` (0.0-1.0) and a human-readable `stage` such as \"Generating music (batch size: 1)...\" or \"Decoding audio...\". Show these — a generation takes minutes, and without them a caller cannot tell slow from hung.\n\n**`metas` is intent, not measurement.** `bpm`, `keyscale` and `timesignature` are what the planning LM asked the DiT for, not an analysis of the audio produced. The LM can emit values plainly at odds with the result — 300 bpm for a folk ballad has been observed — while the audio itself is fine. Label them as requested values in any UI, or set `bpm`/`key_scale` explicitly on the request to remove the guesswork.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "task_id_list"
                ],
                "properties": {
                  "task_id_list": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "task_id_list": [
                  "42f580bc-f8a5-44c2-9685-a124f54d6f49"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job states",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "task_id": "42f580bc-...",
                      "status": 1,
                      "result": "[{\"file\": \"/v1/audio?path=%2FVolumes%2F...\", \"metas\": {\"bpm\": 96, \"duration\": 45}, \"seed_value\": \"12345\"}]"
                    }
                  ],
                  "code": 200,
                  "error": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/audio": {
      "get": {
        "tags": [
          "music"
        ],
        "summary": "Download generated music",
        "description": "Served straight off disk by the gateway — this never wakes the music model.\n\n**Do not build this URL yourself.** The `file` field in a result is *already* a complete request path including its query string, e.g. `/v1/audio?path=%2FVolumes%2F...`. Append it to the base URL exactly as given:\n\n```\nGET {base_url}{file}\n```\n\nURL-encoding `file` and passing it as `path` double-encodes it. That used to fail with a misleading `403 Access denied`; it now returns `400` naming the mistake.\n\nFiles live in a cache the server prunes. **Persist the bytes yourself**; do not treat the URL as durable.",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Absolute filesystem path, already URL-encoded inside the `file` field. You normally never set this by hand — just append `file` to the base URL."
          }
        ],
        "responses": {
          "200": {
            "description": "Audio bytes",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "File no longer exists"
          }
        }
      }
    },
    "/v1/stats": {
      "get": {
        "tags": [
          "music"
        ],
        "summary": "Queue depth",
        "description": "Wakes the music service. Use for backpressure or to show queue position.",
        "responses": {
          "200": {
            "description": "Queue state",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "jobs": {
                      "total": 4,
                      "queued": 0,
                      "running": 1,
                      "succeeded": 3,
                      "failed": 0
                    },
                    "queue_size": 0,
                    "avg_job_seconds": 151.9
                  },
                  "code": 200
                }
              }
            }
          }
        }
      }
    },
    "/v1/audio/speech": {
      "post": {
        "tags": [
          "speech"
        ],
        "summary": "Synthesize speech",
        "description": "Synchronous — returns audio bytes directly. About 1–2 seconds per sentence once warm.\n\nKokoro is small enough that it can stay loaded alongside a heavy model.\n\n**Two models, chosen by the voice you name.** The voice sets are separate, so there is no model parameter and nothing to keep in sync.\n\n- **Kokoro** (28 voices, `af_*`/`am_*`/`bf_*`/`bm_*`) — 350 MB, a second or two, and no expressive control whatsoever. Its generate() takes text, voice, speed and a language code; all of them were already exposed. The default, and the right choice for narration and bulk.\n- **Qwen3-TTS CustomVoice** (`serena`, `vivian`, `uncle_fu`, `ryan`, `aiden`, `ono_anna`, `sohee`, `eric`, `dylan`) — 2.3 GB, a few seconds, and takes an `instruct` describing the performance.\n\n`instruct` is a written direction — \"panicked and breathless\", \"quietly furious, through gritted teeth\". The speaker is fixed by `voice`; only the delivery changes. **Sending it with a Kokoro voice is a 400, not a silent no-op**: flat delivery is indistinguishable from a model that tried and failed, so the error names the voices that can do it.\n\nIdentity and performance are separate on purpose. The VoiceDesign variant of the same family, which builds a voice from a written description instead, was tried and rejected — it designs a fresh voice per call, so a character came back as a different person on the next line of dialogue. A same-seed checksum test said it was stable; it was, but only for identical text.\n\n`GET /v1/voices` reports every voice with its `backend` and `supports_instruct`, and answers from a registry without loading anything.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeechRequest"
              },
              "example": {
                "input": "The local speech service is running entirely on device.",
                "voice": "bf_emma",
                "response_format": "mp3",
                "speed": 1.0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio bytes",
            "content": {
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "No input, an unknown voice, an unsupported format, or 'instruct' sent to a voice that has no expressive control."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/voices": {
      "get": {
        "tags": [
          "speech"
        ],
        "summary": "List available voices",
        "description": "Every voice, with the model behind it and whether it accepts a written direction. Answered from a registry — it loads no weights, which matters now that one of the two models is 2.3 GB.",
        "responses": {
          "200": {
            "description": "Voice ids",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "default": "af_heart",
                    "voices": [
                      {
                        "name": "af_heart",
                        "backend": "kokoro",
                        "supports_instruct": false
                      },
                      {
                        "name": "ryan",
                        "backend": "qwen",
                        "supports_instruct": true
                      }
                    ]
                  },
                  "code": 200,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "tags": [
          "image"
        ],
        "summary": "Generate an image",
        "description": "Synchronous. Measured at ~120s per 1024x1024 image at 4 steps on this hardware, plus ~30-60s model load if the image model is cold. Smaller sizes are proportionally faster.\n\nOnly one heavy model fits in memory, so an image request evicts an **idle** music model. If music is mid-generation the request is refused with **409** and a `Retry-After` header rather than killing that job — retry when it finishes, or stop music explicitly to take the slot. Set client timeouts to 900s or more.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageRequest"
              },
              "example": {
                "prompt": "a puffin standing on a mossy cliff at golden hour, photographic",
                "size": "1024x1024",
                "steps": 4,
                "n": 1,
                "response_format": "b64_json",
                "init_image": "/Volumes/Storage/AIMusic/outputs/images/a_puffin-42.png",
                "retention": 0.7
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated images",
            "content": {
              "application/json": {
                "example": {
                  "created": 1785881567,
                  "data": [
                    {
                      "path": "/Volumes/Storage/AIMusic/outputs/images/a_puffin-42.png",
                      "url": "/v1/images/file?path=...",
                      "seed": 42,
                      "seconds": 34.2,
                      "b64_json": "iVBORw0KGgo...",
                      "derived_from": null
                    }
                  ],
                  "code": 200
                }
              }
            }
          },
          "400": {
            "description": "Missing prompt or invalid size"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/HeavyServiceBusy"
          },
          "503": {
            "$ref": "#/components/responses/BackendUnavailable"
          }
        }
      }
    },
    "/v1/images/file": {
      "get": {
        "tags": [
          "image"
        ],
        "summary": "Download a generated image",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PNG bytes",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "supervisor"
        ],
        "summary": "Gateway and service state",
        "description": "Never wakes a model. Safe to poll as often as you like. No auth required.\n\nThe `system` block reports `free_mb`, `swap_used_mb`, `pageouts_per_sec` and `pressure_level` (macOS's own verdict: normal / warning / critical), plus a boolean `pressure`.\n\n**Do not treat swap volume as a problem.** This host routinely runs a model larger than physical RAM; macOS pages it out once and then idles at a negligible pageout rate. `pressure` is true only when the kernel reports warning or critical, or paging is genuinely sustained.",
        "security": [],
        "responses": {
          "200": {
            "description": "Per-service state",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "supervisor": "ok",
                    "services": {
                      "music": {
                        "running": false,
                        "heavy": true,
                        "idle_seconds": 812.4
                      },
                      "speech": {
                        "running": true,
                        "heavy": false
                      },
                      "image": {
                        "running": false,
                        "heavy": true
                      }
                    }
                  },
                  "code": 200
                }
              }
            }
          }
        }
      }
    },
    "/supervisor/status": {
      "get": {
        "tags": [
          "supervisor"
        ],
        "summary": "Detailed lifecycle state",
        "description": "Per-service RSS, peak RSS, idle seconds, in-flight count. Never wakes a model. No auth required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Service detail"
          }
        }
      }
    },
    "/supervisor/start": {
      "post": {
        "tags": [
          "supervisor"
        ],
        "summary": "Pre-warm a model",
        "description": "Blocks until the model is loaded and ready, then returns. Call this when you know work is coming so the user does not absorb the cold start.\n\nStarting a heavy service stops the other heavy service.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service": {
                    "type": "string",
                    "enum": [
                      "music",
                      "speech",
                      "image"
                    ]
                  }
                }
              },
              "example": {
                "service": "music"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ready"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/BackendUnavailable"
          }
        }
      }
    },
    "/supervisor/stop": {
      "post": {
        "tags": [
          "supervisor"
        ],
        "summary": "Unload now and free memory",
        "description": "Omit `service` to stop everything.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service": {
                    "type": "string",
                    "enum": [
                      "music",
                      "speech",
                      "image"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stopped"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/outputs": {
      "get": {
        "tags": [
          "library"
        ],
        "summary": "List saved outputs",
        "description": "Everything the server has kept, newest first. Reads the filesystem — no model is woken.\n\nEach item carries the prompt and the parameters that produced it, from a JSON sidecar written alongside the file.",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "music",
                "speech",
                "images"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 200,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved outputs",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "total": 7,
                    "items": [
                      {
                        "path": "/Volumes/Storage/AIMusic/outputs/music/2026-08-06T11-39-53_bright-acoustic-folk_28db5d.mp3",
                        "name": "2026-08-06T11-39-53_bright-acoustic-folk_28db5d.mp3",
                        "kind": "music",
                        "bytes": 321069,
                        "created": 1786012793.98,
                        "prompt": "bright acoustic folk with mandolin",
                        "meta": {
                          "bpm": 70,
                          "duration": 20.0,
                          "key_scale": "C minor",
                          "seed": "1984467799"
                        },
                        "url": "/v1/outputs/file?path=..."
                      }
                    ]
                  },
                  "code": 200
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "library"
        ],
        "summary": "Delete a saved output",
        "description": "Removes the file and its sidecar. Refuses anything outside the outputs directory.",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found, or outside outputs/"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/outputs/file": {
      "get": {
        "tags": [
          "library"
        ],
        "summary": "Download a saved output",
        "description": "Serves any kind — audio or image — straight off disk. Never wakes a model.",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File bytes"
          },
          "404": {
            "description": "Not found"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/music/tiers": {
      "get": {
        "tags": [
          "music"
        ],
        "summary": "List music quality tiers",
        "description": "Which model each tier uses, whether it is loaded, and whether it is usable at all. Answered by the gateway — never wakes a model. Check `available` before offering a tier: one is currently unusable for reasons outside Anneal's control, and `unavailable_reason` explains why.",
        "responses": {
          "200": {
            "description": "Tiers",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "default": "draft",
                    "loaded_model": "acestep-v15-turbo",
                    "tiers": {
                      "draft": {
                        "model": "acestep-v15-turbo",
                        "steps": 8,
                        "label": "Draft — fast, distilled (8 steps)",
                        "loaded": true,
                        "available": true,
                        "unavailable_reason": null
                      },
                      "high": {
                        "model": "acestep-v15-sft",
                        "steps": 50,
                        "label": "High — fine-tuned, 50 steps",
                        "loaded": false,
                        "available": true,
                        "unavailable_reason": null
                      }
                    }
                  },
                  "code": 200
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": [
          "text"
        ],
        "summary": "Chat completion (OpenAI-compatible, streaming supported)",
        "description": "Local Gemma 4 e4b. Standard OpenAI chat-completions shape, so most client libraries work by changing the base URL.\n\n**Streaming works** — set `stream: true` and the gateway relays SSE chunks as they arrive rather than buffering the completion.\n\n**This is a reasoning model.** By default it emits a long `delta.reasoning` channel before any `delta.content`, and will exhaust a small `max_tokens` while still thinking. For direct answers send `chat_template_kwargs: {\"enable_thinking\": false}`. Leave it on when you actually want the reasoning.\n\n`model` is ignored — the gateway substitutes whichever model is loaded, so you can send anything or omit it.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "model": "gemma",
                "stream": true,
                "max_tokens": 700,
                "chat_template_kwargs": {
                  "enable_thinking": false
                },
                "messages": [
                  {
                    "role": "user",
                    "content": "Write a verse of an indie folk song about waiting."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completion, or an SSE stream when `stream: true`"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/BackendUnavailable"
          }
        }
      }
    },
    "/v1/text": {
      "post": {
        "tags": [
          "text"
        ],
        "summary": "Generate text (simple contract)",
        "description": "Prompt in, text out — for callers who don't want the OpenAI message shape.\n\nReasoning is **off** by default (Gemma 4 would otherwise spend a short token budget thinking before answering). Set `thinking: true` to keep it, or use `/v1/chat/completions` for full control and streaming.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string"
                  },
                  "system": {
                    "type": "string",
                    "description": "Optional system message."
                  },
                  "max_tokens": {
                    "type": "integer",
                    "default": 800,
                    "maximum": 4096
                  },
                  "temperature": {
                    "type": "number",
                    "default": 0.8
                  },
                  "thinking": {
                    "type": "boolean",
                    "default": false
                  }
                }
              },
              "example": {
                "prompt": "Name three moods for a rainy-day playlist."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated text",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "text": "1. Melancholy reflection.\n2. Cozy introspection.\n3. Dramatic yearning.",
                    "model": "mlx-community/gemma-4-e4b-it-4bit",
                    "usage": {
                      "prompt_tokens": 23,
                      "completion_tokens": 20
                    }
                  },
                  "code": 200,
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "Missing prompt"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/press": {
      "post": {
        "tags": [
          "press"
        ],
        "summary": "Start a press",
        "description": "Start a record: plan, lyrics, music, cover, in that order so each heavy model loads exactly once.\n\n**At most one press runs at a time.** Press assumes it owns the model ordering for its whole run, so a second submission is *queued* rather than started or refused — refusing would lose the brief you just typed. A queued press comes back with `state: \"queued\"`, a 1-based `queue_position` and a rough `estimated_start_seconds`; poll `/v1/press?id=` and both appear there too until it starts.\n\nThe queue survives a restart. Anything waiting is still waiting, the press that was mid-run is marked `interrupted` and can be resumed, and the next one starts on its own.\n\n**The lead vocalist is pinned across the record.** The planner names the singer once and every track's music prompt carries it, because each track is a separate generation and a per-track style line describes genre and mood rather than who is singing. Without it a brief asking for a female lead returned male vocals on most tracks. This makes the *request* consistent; nothing in this path conditions on a speaker, so expect the same described singer rather than an identical voice.\n\n**Lyric density follows the genre.** An electronic record came back with full verse-chorus-verse on every track, because one lyric instruction was sent to every genre alike. Club music does not work that way — the vocal is a hook and a handful of lines. The planner is now asked how wordy each track should be, and where it does not answer, the density is derived from the track's style line and then the brief. Send `lyric_density` (`sparse` | `moderate` | `full`) to decide for the whole record yourself.\n\n**Review before the expensive stage.** Send `review: true` and the press stops between lyrics and music — after the two cheap stages that decide what the record will be (under a minute) and before the one that makes it (twenty). The tracklist, the artist, the concept and every lyric can be edited, then it resumes. One-shot is still the default.\n\n**Tracks are asked to end properly** (`outro`, on by default). Nothing previously told the model a piece had to finish, so it spent the duration it was given and stopped wherever it happened to be.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "The brief."
                  },
                  "tracks": {
                    "type": "integer",
                    "default": 1,
                    "minimum": 1,
                    "maximum": 8,
                    "description": "1 = single."
                  },
                  "duration": {
                    "type": "integer",
                    "default": 90,
                    "description": "Nominal seconds; albums vary around it."
                  },
                  "duration_min": {
                    "type": "integer"
                  },
                  "duration_max": {
                    "type": "integer"
                  },
                  "quality": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "high"
                    ],
                    "default": "draft"
                  },
                  "instrumental": {
                    "type": "boolean",
                    "default": false
                  },
                  "art": {
                    "type": "boolean",
                    "default": true
                  },
                  "art_size": {
                    "type": "string",
                    "default": "1024x1024"
                  },
                  "lyric_density": {
                    "type": "string",
                    "enum": [
                      "sparse",
                      "moderate",
                      "full"
                    ],
                    "description": "Override how wordy the lyrics are, for every track. Omit to let each track be judged from its own style — which is usually what you want on an album that mixes genres. `sparse` is a hook and two or three lines; `full` is verses that carry a story."
                  },
                  "review": {
                    "type": "boolean",
                    "default": false,
                    "description": "Stop after planning and lyrics and wait to be reviewed, instead of running straight through. The press parks in state `awaiting-review` and **releases the queue** while it waits, so a human taking their time blocks nothing. Amend and continue with POST /v1/press/review."
                  },
                  "outro": {
                    "type": "boolean",
                    "default": true,
                    "description": "Ask every track to finish with a deliberate outro rather than stopping mid-phrase. Measured before this existed: five of eight tracks played at full level to the last bar, stopped dead, and were padded with silence. Turn it off for loops or beds, where a resolved ending is wrong.\n\nPress-only, deliberately. POST /release_task never adds it — a builder asking for a two-bar loop wants it to loop."
                  }
                }
              },
              "example": {
                "prompt": "a short winter album about leaving a coastal town",
                "tracks": 4,
                "duration": 90
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted. Either started, or queued behind a running press.",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "press_id": "0f2c…",
                    "state": "queued",
                    "queue_position": 1,
                    "estimated_start_seconds": 115,
                    "poll": "/v1/press?id=0f2c…"
                  },
                  "code": 200,
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "Missing prompt"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "press"
        ],
        "summary": "Press state, or recent presses",
        "description": "With `id`, the full record: plan, artist, per-track state, lyrics and cover. Without, recent presses.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Press state"
          },
          "404": {
            "description": "No such press"
          }
        }
      },
      "delete": {
        "tags": [
          "press"
        ],
        "summary": "Delete a press",
        "description": "Removes the record. `files=1` also deletes its audio and cover from the library.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "files",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "No such press"
          }
        }
      }
    },
    "/v1/press/download": {
      "get": {
        "tags": [
          "press"
        ],
        "summary": "Download a press as a zip",
        "description": "Audio, cover and tracklist in one archive. Masters are FLAC, so mp3/aac are transcoded from the lossless original rather than from another lossy copy.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "flac",
                "mp3",
                "aac",
                "wav"
              ],
              "default": "flac"
            }
          },
          {
            "name": "bitrate",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "320k"
            },
            "description": "mp3/aac only."
          }
        ],
        "responses": {
          "200": {
            "description": "Zip archive"
          },
          "409": {
            "description": "Nothing finished yet"
          },
          "400": {
            "description": "Unsupported format"
          }
        }
      }
    },
    "/v1/press/resume": {
      "post": {
        "tags": [
          "press"
        ],
        "summary": "Resume an interrupted press",
        "description": "Re-runs only the missing work: finished tracks and an existing cover are kept. Presses left non-terminal by a gateway restart are marked `interrupted` on startup.",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "4ee12341ef33"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resuming"
          },
          "404": {
            "description": "No such press"
          },
          "409": {
            "description": "Already running"
          }
        }
      }
    },
    "/v1/press/review": {
      "post": {
        "tags": [
          "press"
        ],
        "summary": "Amend and/or approve a press waiting for review",
        "description": "For a press in state `awaiting-review`. Amendments are **patches**: fields you do not send are left alone, so changing a title cannot blank the `voice` that pins the singer across the record. A track is matched on `n`; an unrecognised number is ignored rather than appended, because a typo should not add a track the music stage then records.\n\nSend `approve: true` to continue. Amend and approve can be the same call — which is what pressing \"looks good\" after an edit actually is.\n\nApproving puts the press back in the **queue** rather than straight into running: it gave up the heavy slot when it parked and something else may hold it now. It resumes into the music stage with the edits, and does not re-plan.\n\nAnything not awaiting review — already recording, finished, or never paused — is a 409.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The press id."
                  },
                  "plan": {
                    "type": "object",
                    "description": "Patch for the album plan — any of title, artist, concept, voice, cover_art."
                  },
                  "tracks": {
                    "type": "array",
                    "description": "Per-track patches, each keyed by `n`. Any of title, theme, style, lyrics.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "n": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "theme": {
                          "type": "string"
                        },
                        "style": {
                          "type": "string"
                        },
                        "lyrics": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "approve": {
                    "type": "boolean",
                    "default": false,
                    "description": "Continue into the music stage. Omit to save edits and keep waiting."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The press record, as GET /v1/press?id= returns it."
          },
          "400": {
            "description": "No id, or plan/tracks of the wrong shape."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No such press."
          },
          "409": {
            "description": "The press is not awaiting review."
          }
        }
      }
    },
    "/v1/press/cancel": {
      "post": {
        "tags": [
          "press"
        ],
        "summary": "Cancel a press",
        "description": "Stops a press that is planning, writing or recording. Tracks already finished are kept and stay in the library; nothing in flight is rolled back, so a track being generated at the moment of cancellation may still land. Cancelling frees the heavy slot for other work.\n\nA cancelled press cannot be resumed — `/v1/press/resume` only picks up records marked `interrupted`, which is what a gateway restart produces.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The press id. `press_id` is accepted as an alias."
                  }
                }
              },
              "example": {
                "id": "0f2c…"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/sprites": {
      "post": {
        "tags": [
          "sprites"
        ],
        "summary": "Generate an animation sheet and cut it into frames",
        "description": "One brief becomes a set of transparent PNGs — one per frame — plus an atlas saying where each came from.\n\n**Every frame comes out of a single image generation.** That is the design, not an optimisation. Generating N sprites separately produces N different characters: the model has no memory between samples, so the armour, the palette and the proportions all drift. Asking for one picture containing all the poses is what makes them the same character.\n\n**`frames` is a hint, not a contract.** Two measured runs asking for four came back with five, laid out 3+2 across two rows rather than in a line. Diffusion does not count. Read `frames` in the response — that is what you actually got — and treat `requested_frames` as what was asked for. The cap exists because past eight poses in one image each is too small to use.\n\n**Name the poses if you want motion.** Left to itself the model gives you identity and almost no animation: a run of \"only the pose changing\" returned five near-identical standing slimes. Passing `poses` (`[\"idle\", \"crouched to jump\", \"mid-air\", \"landing splat\"]`) produced genuinely different poses — at the cost of more design drift between frames, since the model is being pulled two ways at four steps. Both effects are visible; pick which one matters for the asset.\n\n**The sheet is not a grid.** Poses are spaced irregularly, at different sizes, and across however many rows the model felt like, so frames are located by content rather than by dividing the canvas — read left to right, then top to bottom. A soft drop shadow is excluded rather than cut as a frame of its own.\n\n**Backgrounds are removed with a segmentation model, not colour distance.** Colour keying is available as a fallback but loses pale characters — a white robot on a white sheet came back see-through. That cut runs in a separate interpreter (`ANNEAL_SPRITE_PYTHON`) because it needs rembg, which is kept out of the pinned environment that serves the models.\n\nSynchronous, and it holds the heavy slot for one image generation — measured at 2 min 8 s end to end at the default size, twice. If music is resident it is evicted; if music is mid-generation the request waits for the slot rather than failing.\n\n**A set is one asset.** The frames land in their own directory with an `atlas.json` and an animated `preview.gif` built from them, and the library lists the set as a single row represented by that preview — not one row per frame. The response carries `preview` and `preview_url`. `fps` sets the preview's frame rate; it changes nothing about the frames themselves, which are what a game actually loads.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "The character, described as you would to an artist. \"a small round green slime with big eyes\" works better than \"slime\"."
                  },
                  "frames": {
                    "type": "integer",
                    "default": 4,
                    "minimum": 2,
                    "maximum": 8,
                    "description": "How many poses to ask for. A hint: the model routinely returns one more or one fewer. Ignored when `poses` is given, which sets the count instead."
                  },
                  "style": {
                    "type": "string",
                    "default": "flat pixel art",
                    "description": "Art direction, e.g. \"flat pixel art\", \"hand-drawn ink\", \"3D clay render\"."
                  },
                  "size": {
                    "type": "string",
                    "default": "1344x768",
                    "description": "Sheet canvas. Wide by default because the poses usually sit in a row or two — a square canvas spends most of its pixels on empty background."
                  },
                  "wait": {
                    "type": "integer",
                    "default": 300,
                    "description": "Seconds to wait for the heavy slot if music is mid-generation."
                  },
                  "poses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 8,
                    "description": "One description per frame, in order — e.g. [\"idle\", \"crouched to jump\", \"stretched mid-air\", \"landing splat\"]. Sets the frame count. Without it the poses come back near-identical; with it they genuinely differ but the character design drifts more."
                  },
                  "fps": {
                    "type": "integer",
                    "default": 8,
                    "description": "Frame rate of the preview GIF only."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Frames written and matted. `frames` is what was produced, which may not equal `requested_frames`.",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "subject": "a small round green slime with big eyes",
                    "style": "flat pixel art",
                    "source": "/Volumes/Storage/AIMusic/outputs/images/sprite-sheet-…png",
                    "source_size": [
                      1344,
                      768
                    ],
                    "background": [
                      252,
                      251,
                      249
                    ],
                    "frame_dir": "/Volumes/Storage/AIMusic/outputs/sprites/20260807-152300-a-small-round-green-slime",
                    "frames": [
                      {
                        "index": 0,
                        "x": 118,
                        "y": 204,
                        "width": 246,
                        "height": 301,
                        "file": "/Volumes/Storage/AIMusic/outputs/sprites/…/frame-000.png",
                        "url": "/v1/outputs/file?path=…"
                      },
                      {
                        "index": 1,
                        "x": 432,
                        "y": 198,
                        "width": 238,
                        "height": 307,
                        "file": "…/frame-001.png",
                        "url": "/v1/outputs/file?path=…"
                      }
                    ],
                    "sheet": "/Volumes/Storage/AIMusic/outputs/images/sprite-sheet-…png",
                    "sheet_url": "/v1/images/file?path=…",
                    "requested_frames": 4,
                    "preview": ".../outputs/sprites/20260807-212253-a-small-orange-robot/preview.gif",
                    "preview_url": "/v1/outputs/file?path=…",
                    "fps": 8
                  },
                  "code": 200,
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "No prompt, a frame count outside 2–8, or a malformed `poses` list."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "502": {
            "description": "The sheet generated but no frames could be found in it — the model sometimes returns a single scene rather than separate poses. The response still carries `sheet` and `sheet_url`, because it cost minutes and is in the library either way."
          },
          "503": {
            "description": "No interpreter configured that can matte. Set ANNEAL_SPRITE_PYTHON."
          },
          "504": {
            "description": "Cutting the sheet exceeded ten minutes."
          }
        }
      }
    },
    "/supervisor/auth": {
      "get": {
        "tags": [
          "supervisor"
        ],
        "summary": "Who am I, and do I need a key?",
        "description": "Reports whether this caller is already authenticated and by what means. Public, because it only reflects an identity the caller already has — it is what lets the web UI skip the key prompt over a tailnet. `via` is `tailscale` or `key`; `user` is the tailnet login where there is one.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/supervisor/whoami": {
      "get": {
        "tags": [
          "supervisor"
        ],
        "summary": "What Tailscale says about this caller",
        "description": "The raw `Tailscale-*` headers the proxy attached, plus the client address. Public, and mostly a debugging aid for working out why identity is or is not being trusted — the headers are only believed while the listener is bound to loopback.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/vector": {
      "post": {
        "tags": [
          "vector"
        ],
        "summary": "Draw an SVG icon with the text model",
        "description": "**Experimental. Read the quality note before building on this.**\n\nSVG is markup, so this is a text-generation task: 2-7 seconds on an already-warm Gemma, no new weights, no heavy slot, and nothing evicted. It is the only fast endpoint Anneal has.\n\n**Measured quality.** On `gemma-4-e4b-it-4bit`, the model that fits 16 GB, output is reliably *well-formed* at temperature 0.2 (5/5 across gear, heart, compass rose, health bar, shield) and reliably *not a recognisable icon*: the gear rendered as a plain circle, the compass rose as a single dot, the health bar as one solid rectangle. Adding worked examples improved the markup and not the drawing. Treat this as plumbing that works and a capability that does not yet.\n\n**Everything returned is sanitised.** The reply is parsed, checked for a single `<svg>` root, and reduced to an allowlist of drawing elements and attributes. `<script>`, `<style>`, `<foreignObject>`, every `on*` handler, SMIL animation, and any `href` or `url()` that is not a local `#fragment` are removed, and a DOCTYPE or ENTITY declaration is refused before parsing. `sanitised_out` reports what was taken. A `<script>` inside an SVG a game loads is a real hazard, so what the model drew and what you receive are two different documents by construction.\n\nThe result is also saved under `outputs/vectors/` with a sidecar, like every other output, and is listed by `GET /v1/outputs?kind=vectors`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "What to draw. Short and geometric works best.",
                    "example": "a compass rose"
                  },
                  "style": {
                    "type": "string",
                    "enum": [
                      "flat",
                      "line",
                      "duotone",
                      "geometric"
                    ],
                    "default": "flat"
                  },
                  "size": {
                    "type": "integer",
                    "default": 24,
                    "minimum": 8,
                    "maximum": 1024,
                    "description": "Sets the viewBox. The output carries no absolute width or height, so it scales wherever it is used."
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "draw"
                    ],
                    "default": "draw",
                    "description": "Only 'draw' is implemented. 'trace' would vectorise the image model's output and needs vtracer or potrace on the host; neither is installed, and it returns 501."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SVG source, the saved path, and what the sanitiser removed"
          },
          "400": {
            "description": "Missing prompt, or a prompt over ANNEAL_MAX_PROMPT_CHARS"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "Request body over ANNEAL_MAX_REQUEST_BYTES"
          },
          "422": {
            "description": "The model did not produce usable SVG in two attempts. A generation failure, reported rather than patched up."
          },
          "501": {
            "description": "mode 'trace' is not implemented on this host"
          },
          "502": {
            "description": "The text service failed"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Ask the host owner for the key. Read it from an env var; never commit it."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid Authorization header"
      },
      "HeavyServiceBusy": {
        "description": "The other heavy model is mid-generation and will not be evicted. Nothing is broken — wait and retry (see `Retry-After`), or stop the busy service to claim the slot.",
        "content": {
          "application/json": {
            "example": {
              "code": 409,
              "error": "music is mid-generation and only one heavy model fits in memory...",
              "busy_service": "music",
              "requested_service": "image"
            }
          }
        }
      },
      "BackendUnavailable": {
        "description": "Model could not be started. `reason: host_memory_exhausted` means Anneal refused to load it because the machine is out of RAM — the body carries free/swap figures. Otherwise the backend failed to start, usually because the external SSD is unmounted on the host."
      }
    },
    "schemas": {
      "Envelope": {
        "type": "object",
        "description": "Every music and supervisor endpoint wraps its payload like this. Check `code == 200` — an HTTP 200 can still carry `code: 500`.",
        "properties": {
          "data": {},
          "code": {
            "type": "integer",
            "example": 200
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "timestamp": {
            "type": "integer",
            "description": "milliseconds"
          }
        }
      },
      "MusicRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Style description: genre, instruments, mood, production."
          },
          "lyrics": {
            "type": "string",
            "default": "",
            "description": "Use [verse] / [chorus] / [bridge] tags. Use \"[instrumental]\" for no vocals."
          },
          "audio_duration": {
            "type": "number",
            "minimum": 10,
            "maximum": 600,
            "description": "Seconds. Defaults to the model's choice."
          },
          "audio_format": {
            "type": "string",
            "enum": [
              "mp3",
              "flac",
              "wav",
              "wav32",
              "opus",
              "aac"
            ],
            "default": "flac",
            "description": "Output format. **Anneal defaults to flac**; the backend's mp3 is fixed at 128 kbps and audibly lossy."
          },
          "batch_size": {
            "type": "integer",
            "minimum": 1,
            "maximum": 8,
            "default": 2,
            "description": "Takes per request. Each costs roughly a full generation."
          },
          "bpm": {
            "type": "integer",
            "minimum": 30,
            "maximum": 300
          },
          "key_scale": {
            "type": "string",
            "example": "F# minor"
          },
          "time_signature": {
            "type": "string",
            "enum": [
              "2",
              "3",
              "4",
              "6"
            ]
          },
          "vocal_language": {
            "type": "string",
            "default": "en"
          },
          "seed": {
            "type": "integer",
            "description": "Set with use_random_seed=false to reproduce a take."
          },
          "use_random_seed": {
            "type": "boolean",
            "default": true
          },
          "inference_steps": {
            "type": "integer",
            "default": 8,
            "description": "Overrides the tier default (8 for draft, 32 for high). Step one carries a ~46s warm-up; each further step is about a second, so more steps are cheaper than they look."
          },
          "thinking": {
            "type": "boolean",
            "default": true,
            "description": "Run the 5Hz LM planning pass. **Anneal defaults this to true**, unlike the backend. Better structure, ~30s slower."
          },
          "task_type": {
            "type": "string",
            "enum": [
              "text2music",
              "cover",
              "repaint",
              "lego",
              "extract",
              "complete"
            ],
            "default": "text2music"
          },
          "quality": {
            "type": "string",
            "enum": [
              "draft",
              "high"
            ],
            "default": "draft",
            "description": "Model tier. `draft` = acestep-v15-turbo, 8 steps, ~68s. `high` = acestep-v15-sft, 50 steps, ~130s, with CFG enabled and DCW disabled as that model requires. Switching tiers restarts the backend and costs one cold load, because only one DiT fits in memory. Call GET /v1/music/tiers for live availability."
          }
        }
      },
      "SpeechRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "input": {
            "type": "string",
            "description": "Text to speak."
          },
          "voice": {
            "type": "string",
            "default": "af_heart",
            "description": "See GET /v1/voices."
          },
          "response_format": {
            "type": "string",
            "enum": [
              "wav",
              "mp3",
              "flac",
              "opus",
              "aac"
            ],
            "default": "wav"
          },
          "speed": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 2.0,
            "default": 1.0
          }
        }
      },
      "ImageRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string"
          },
          "size": {
            "type": "string",
            "default": "1024x1024",
            "description": "WxH, snapped to a multiple of 16, max ~1536x1536."
          },
          "steps": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20,
            "default": 4,
            "description": "schnell is distilled for 4 steps."
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 1
          },
          "seed": {
            "type": "integer",
            "description": "Omit for random. With n>1, seeds increment."
          },
          "response_format": {
            "type": "string",
            "enum": [
              "b64_json",
              "path"
            ],
            "default": "b64_json"
          },
          "init_image": {
            "type": "string",
            "description": "Absolute path of an image this server produced, from a previous result's `path`. Makes the request a **variation**: the composition, subject and lighting of that image are kept and its details re-rendered.\n\nThis is not an edit. Measured on schnell: asking a brass watch to become silver returns the same brass watch, at every retention down to 0.5. The init latent dominates, and a four-step distilled model has no step budget left to act on the prompt. Use it for another take of the same image, not to change what is in it.\n\nPaths outside the server's own output directory are rejected with 400."
          },
          "retention": {
            "type": "number",
            "minimum": 0.3,
            "maximum": 0.95,
            "default": 0.7,
            "description": "How much of `init_image` survives. Ignored unless `init_image` is set.\n\nQuantised by the step count: the server spends `int(steps * retention)` steps reproducing the original, so at schnell's default of 4 there are only three distinct settings. Requests carrying `init_image` therefore default to **8** steps rather than 4, which gives 0.85 / 0.7 / 0.55 genuinely different budgets. An explicit `steps` still wins."
          }
        },
        "description": ""
      }
    }
  }
}
